@media screen and (min-width: 640px) {
  .sm-100 {
    width: 100%;
  }
  .sm-50 {
    width: 50%;
  }
  .sm-33 {
    width: 33%;
  }
  .sm-25 {
    width: 25%;
  }
  .sm-20 {
    width: 20%;
  }
  .sm-16 {
    width: 16.6666%;
  }
}
@media screen and (min-width: 768px) {
  .md-100 {
    width: 100%;
  }
  .md-50 {
    width: 50%;
  }
  .md-33 {
    width: 33%;
  }
  .md-25 {
    width: 25%;
  }
  .md-20 {
    width: 20%;
  }
  .md-16 {
    width: 16.6666%;
  }
  .chefs-cards {
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
    gap: 1.875rem;
  }
  .chefs-cards .card {
    width: 46%;
    margin: 0;
    /* flex: 1 1 46%; */
  }
  .details {
    flex-direction: row;
    gap: 15px;
  }
  .details > div {
    flex: 1 1 48%;
  }
  .footer-container {
    width: 95%;
  }
  footer .about {
    flex: 1 1 48%;
  }
  footer .subscription {
    order: 2;
    width: 100%;
  }

  footer .contact-details {
    flex: 1 1 48%;
  }
  .gallery-container {
    width: 90%;
  }
  .gallery-images {
    height: 1461px;
  }
  .gallery-images .item {
    width: 48%;
  }
  .gallery-images .pizza {
    order: 1;
  }
  .gallery-images .steak {
    order: 5;
  }
  .gallery-images .burger {
    order: 2;
  }
  .gallery-images .pizza-slices {
    order: 3;
  }
  .gallery-images .fried {
    order: 6;
  }
  .gallery-images .omelette {
    order: 4;
  }
  .gallery-images .kofta {
    order: 7;
  }
}
@media screen and (min-width: 870px) {
  .gallery-container {
    width: 80%;
  }
}
@media screen and (min-width: 970px) {
  .gallery-images {
    height: 834px;
  }
  .gallery-images .item {
    width: 31.33333%;
  }
  .gallery-container {
    width: 95%;
  }
  .gallery-images .omelette {
    order: 5;
  }
  .gallery-images .burger {
    order: 6;
  }
}
/* @media screen and (min-width: 1000px) {
  .gallery-images .item {
    width: 30.33333%;
  }
  .gallery-images {
    height: 734px;
  }
} */
@media screen and (min-width: 1024px) {
  .lg-100 {
    width: 100%;
  }
  .lg-50 {
    width: 50%;
  }
  .lg-33 {
    width: 33%;
  }
  .lg-25 {
    width: 25%;
  }
  .lg-20 {
    width: 20%;
  }
  .lg-16 {
    width: 16.6666%;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 50px;
  }
  .header-content .btn-group {
    justify-content: flex-start;
  }
  .header-img {
    width: 40%;
    margin-bottom: 0px;
  }
  .header-content {
    width: 40%;
    text-align: left;
  }

  .chefs-cards .card {
    /* width: 30.3333%; */
    flex: 1 1 30.33333%;
  }
  #contact form .input-group {
    gap: 0.9375rem;
  }
  #contact form .input-group input {
    flex: 1 1 48%;
  }
  .footer-container {
    width: 90%;
  }
  .gallery-container {
    width: 86%;
  }
}
@media screen and (min-width: 1133px) {
  .testmonial-content {
    width: 50%;
    margin: auto;
    padding: 20px;
  }
  .menu-icon {
    display: none;
  }
  .nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
  }
  .navbar .close-icon i {
    display: none;
  }

  .mode-group {
    margin-left: 0;
    margin-right: 20px;
  }
  .gallery-container {
    width: 76%;
  }
}
@media screen and (min-width: 1200px) {
  footer .about {
    flex: 1 1 22.3333%;
  }
  footer .subscription {
    flex: 1 1 46.3333%;
    order: 0;
  }

  footer .contact-details {
    flex: 1 1 22.3333%;
  }
  .gallery-container {
    width: 73%;
  }
  .gallery-images {
    height: 922px;
  }
}
@media screen and (min-width: 1280px) {
  .xl-100 {
    width: 100%;
  }
  .xl-50 {
    width: 50%;
  }
  .xl-33 {
    width: 33%;
  }
  .xl-25 {
    width: 25%;
  }
  .xl-20 {
    width: 20%;
  }
  .xl-16 {
    width: 16.6666%;
  }
  .gallery-images {
    height: 970px;
  }
}
@media screen and (min-width: 1536px) {
  .xxl-100 {
    width: 100%;
  }
  .xxl-50 {
    width: 50%;
  }
  .xxl-33 {
    width: 33%;
  }
  .xxl-25 {
    width: 25%;
  }
  .xxl-20 {
    width: 20%;
  }
  .xxl-16 {
    width: 16.6666%;
  }
}

@media (max-width: 1280px) {
  .navbar-links ul li {
    margin-left: 5px;
  }
}

@media (max-width: 1127px) {
  .checkbtn {
    display: block;
  }

  .navbar-links {
    position: fixed;
    width: 100%;
    height: 45vh;
    background: #333;
    top: -100%;
    left: 25%;
    text-align: center;
    transition: all 0.5s;
  }
  .navbar .navbar-links ul li {
    margin: 0;
    line-height: 30px;
    width: 100%;
    padding: 5px 0;
    padding-right: 35px;
  }
  .navbar-links ul li a {
    font-size: 16px;
  }
  #check:checked ~ .navbar-links {
    top: 85px;
  }
}
